/* You can add global styles to this file, and also import other style files */
input:invalid {
    border: 2px dashed red;
  }
  
  input:valid {
    border: 1px solid black;
  }
  .my-pagination /deep/ .ngx-pagination .current {
    background: red;
  }